<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garantidos Soy Yo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
   <header class="cabecalho container">
        <img src="{{ url_for('static', filename='img/logo-chatbot.svg') }}" alt="Logo Chatbot">
        <div class="cabecalho__acoes">
            
        </div>
   </header> 
   <main class="main">
        <section class="chat container" id="chat">
            <p class="chat__bolha chat__bolha--bot">
                Olá! Eu sou seu assistente pessoal ~<br/><br/>
                Como posso te ajudar?
            </p>
        </section>
        <section class="entrada container">
            <div class="entrada__container">
                <button id="mais_arquivo" aria-label="Botão de mais opções">
                    <i class="icone icone--mais-opcoes"></i>
                </button>
                <input type="text" class="entrada__input" placeholder="Enviar uma mensagem" id="input">
                <button aria-label="Botão de enviar" id="botao-enviar">
                    <img class="icone icone--enviar-mensagem"></>
                </button>
            </div>
        </section>
        <!--
        <aside class="menu-lateral container">
            <h2>Opções</h2>
            <a href="#" id="limpar">Limpar</a>
            <div class="menu-lateral__configuracoes">
                <label for="modelo">Modelo:</label>
                <select id="modelo">
                    <option value="modelo1">Modelo 1</option>
                    <option value="modelo2">Modelo 2</option>
                    <option value="modelo3">Modelo 3</option>
                </select>
                 <br>
                 <br>
                 <br>
                <label for="temperatura">Temperatura:</label>
                <input type="range" id="temperatura" min="0" max="1" step="0.1" value="0.5">
                <input type="text" class="valor_temperatura"  id="valor_temperatura">
            </div>
        </aside>
        -->
   </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
